<table class="table">
    <thead>
        <tr>
            <th scope="col">DL</th>
            <th scope="col">Name</th>
            <th scope="col">Categ</th>
            <th scope="col">Upload</th>
            <th scope="col">Size</th>
            <th scope="col">Download</th>
            <th scope="col">Seed</th>
            <th scope="col">Leech</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewData["torrentdata"] as List<TorrentSearchResultData>)
        {
            <tr>
                <td>
                    <div class="btn btn-primary" style="cursor:pointer;" onclick="download(@item.Id);">
                        DL
                    </div>
                </td>
                <td>
                    <a href="JavaScript:void(0);" onclick="details(@item.Id)">
                        @item.Name
                    </a>
                </td>
                <td>
                    @item.Categ
                </td>
                <td>
                    @item.UploadDate
                </td>
                <td>
                    @item.TorrentSize
                </td>
                <td>
                    @item.Download
                </td>
                <td>
                    @item.Seed
                </td>
                <td>
                    @item.Leech
                </td>
            </tr>
            <tr>
                <td colspan="8" id="details-@item.Id" style="display:none;">
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function download(id) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", `https://localhost:44325/torrentdownload/${id}`, true);
        xhr.send();
    }
    function details(id) {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", `https://localhost:44325/torrentdetails/${id}`, true);
        xhr.send();
        xhr.onload = () => {
            if (xhr.status == 200) {
                var data = xhr.responseText;
                $("#details-" + id).html(data);
                $("#details-" + id).css("display", "block");
            }
        }
    }
</script>